body {
    font-size: 18px;
 }
 
 .grid {
    padding: 10px 50px 10px;
    margin: 50px auto;
    width: 600px;
    background: #fff;
    border: 2px solid #eb890a;
    border-radius: 15px;

 }
 
 .grid h1 {
    color: rgb(223, 119, 0);
    font-size: 2.4em;
    text-align: center;
 }
 
 #question {
    padding: 5px;
    border-radius: 15px;
    font-size: 24px;
    color: #504435;
 }
 
 #quiz {
    text-align: center;
 }
 
 #questionCount {
    margin-left: 50px;
    font-size: 20px;
    color: #504435;
 }
 
 .answerbuttons {
    padding: 0px 20px;
    border-bottom: 2px solid #eb890a;
 }
 
 .btn {
    padding: 10px;
    width: 550px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background: #eb890a;
    border: 1px solid #8d7b63;
    border-radius: 15px;
    cursor: pointer;
    transition: all .2s;
    user-select: none;
 }
 
 .btn:hover {
    background: #8d7b63;
    color: #fff;
 }

 .buttons {
    margin-right: 250px;
 }

 .quiz-btn {
   padding: 10px;
   color: #eb890a;
   border: 1.5px solid #eb890a;
   border-radius: 15px;
   font-weight: 600;
   cursor: pointer;
   user-select: none;
}

.quiz-btn:hover {
   color: #8d7b63;
   border: 1.5px solid #8d7b63;
   transition: all .2s;
}

.result-btn {
   padding: 10px;
   color: #eb890a;
   border: 1.5px solid #eb890a;
   border-radius: 10px;
   font-weight: 600;
   cursor: pointer;
   user-select: none;
}
